
body {
  color: #520909d1;
}
.hidden {
  display: none;
}


.workstation{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  min-height: 70vh;
}

.workstation__control{
  width: 45%;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h2{
  font-size: 14px;
  font-weight: normal;
  font-style: italic

}

.workstation__log{
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.control__tasks{
  border: 1px solid black;
  border-radius: 10px;
}

.log__info{
  margin-top: 30px;
  height: 300px;
  overflow-y: scroll;
}

.log{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.log__time{
  margin-bottom: 5px;
}


.log__title-id, .log__status-info{
  padding-left: 5px;
}


  

.control__add{
  margin-top: 10px;
  align-self: center;
  text-decoration: underline;
  cursor: pointer;
}

.task{
  margin: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.task__control{
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.status{
  position: relative;
  margin-left: 60px;
  text-transform: capitalize;
}

.status-stop::after{
  content: "";
  position: absolute;
  left: -40px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
}

.status-start::after{
  content: "";
  position: absolute;
  left: -40px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: green;
}

button{
  width: 30px;
  height: 30px;
  background-color: #ffffff00;
  cursor: pointer;
}

.task__start{
  background-color: lightgreen;
}

.task__del{
  background-color: lightcoral;
}

.lod__title{
  margin-top: 10px;
}